
fastapi
uvicorn[standard]
python-multipart

motor
pymongo

python-jose[cryptography]
passlib>=1.8.2
bcrypt>=5.0.0

pydantic
pydantic-settings
python-dotenv

cloudinary

stripe

geopy

aiosmtplib

python-socketio

email-validator
