
fastapi
uvicorn[standard]
python-multipart

motor
pymongo

python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.1.1
pydantic
pydantic-settings
python-dotenv

cloudinary

stripe

geopy

aiosmtplib

python-socketio

email-validator
