@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes spinZoom {
  0% {
    transform: rotate(0deg) scale(0.9);
    opacity: 0.7;
  }
  40% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
  70% {
    transform: rotate(270deg) scale(1.15);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1.25);
    opacity: 0.9;
  }
}

.animate-logo {
  animation: spinZoom 1.6s ease-in-out infinite;
  transform-origin: center;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin-slow {
  animation: spin-slow 2.2s linear infinite;
}
